.jumbotron {
  padding-top: 6rem;
  background-color: #f2a154;
}

#projects {
  background-color: #f2a154;
}

/* blog */
.main-blog-info img {
  width: 50px;
  border-radius: 50%;
  float: left;
}
.main-blog-info {
  color: #666;
  position: relative;
}
.main-blog-info a {
  padding-right: 15px;
  color: #666;
  text-decoration: none;
}
.main-blog-info a:hover {
  color: #314e52;
}
#projects .main-blog-info span {
  font-size: 12px;
  padding-left: 15px;
}
#projects a {
  text-decoration: none;
  color: #666;
}
#projects a:hover {
  color: #314e52;
}

#blog-detail .main-blog-info img {
  float: none;
}
#blog-detail .main-blog-info span::before {
  content: "";
  top: 0px;
  margin-bottom: 3px;
  display: inline-block;
  margin-right: 15px;
  background-color: #ccc;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
